*{
	margin: 0px;
	padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	text-align:center;
}
#leningrad{
	border:1px solid black;
	width:1000px;
	margin:10px auto;
	text-align:left;
}
#novgorod{
	border:1px solid black;
	background:red;
	padding:10px;
}
#volgograd{
	border:1px solid black;
	padding: 5px;
}
#volgograd li{
	display: inline;
	list-style: none;
	padding:5px;
}
#st_petersburg{
	float:left;
	width:660px;
	margin:30px;
}
#nizhy_novgorod{
	float:left;
	width:220px;
	margin:30px;
}
#kazan{
	clear:both;
	text-align:center;
	padding:20px;
	border:1px solid black;
}

