*{
	margin:0 auto;
	padding:0px;
	display:block;
	font-family: 'Roboto', sans-serif;
}
#head{
	color:transparent;
}
#body{
	text-align:center;
}
#enclosing_div{
	width:95%;
	text-align:left; 
}
#header{
	background-color:red;	
	padding:7px;
}
#section{
	background-color:green;	
	padding:15px;
	float:left;
	width:80%;
}
#aside{
	background-color:green;
	padding:15px;
}
#footer{
	background-color:red;
	clear:both;
	padding:5px;
}